#app {
  text-align: center;
}

#main {
  width: 1080px;
  padding: 0 35px;
  margin-left: auto;
  margin-right: auto;
}

.game {
  border: 1px solid;
  image-rendering: crisp-edges;
}

.speed-control {
  font-size: 20px;
}

.speed-control .speed-slider {
  width: 150px;
  margin-left: 15px;
  margin-right: 20px;
}

.evolution-plot {
  width: 100%;
  height: 275px;
  margin-bottom: 10px;
}