#app {
  text-align: center;
}

#main {
  width: 1080px;
  padding: 0 35px;
  margin-left: auto;
  margin-right: auto;
}

#stats {
  margin-bottom: 10px;
  display: flex;
}

.stat-cards {
  flex: 0 0 20%;
  margin-top: -20px;
  margin-right: 20px;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.stat-card {
  width: 175px;
}

.evolution-plot {
  flex: 1;
  height: 275px;
  margin-left: auto;
  text-align: right;
}

.game {
  border: 1px solid;
  image-rendering: crisp-edges;
}

.controls .speed-slider {
  width: 150px;
  margin-left: 15px;
  margin-right: 20px;
}

.controls .snake-select {
  width: 70px;
  margin-left: 10px;
}

.MuiFormControlLabel-root .MuiFormControlLabel-label,
.MuiFormControlLabel-root .MuiSelect-root,
.MuiList-root .MuiListItem-root {
  font-size: 1.4rem;
}